.theme-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 36px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  font-size: 18px;
}

.slider::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4c4cff;
}

input:checked + .slider::before {
  transform: translateX(34px);
}

.icon {
  z-index: 1;
  font-size: 20px;
  padding-top: 4px;
}
