.services-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.service-card {
  width: 85%;
  height: 300px;
  border-radius: 10px;
  background-color: rgb(6 , 7 , 53);
  margin: 10px;
  padding: 15px;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s;
  position: relative;
  z-index: 10;
  align-self: center;
}

.service-card:hover {
   transform: scale(1.03) !important;
}

.finance-card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  height: 80%;
  padding-top: 30px;
}

.finance-details {
  width: 50%;
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}

.finance-chart {
  width: 40%;
  height: 100%;
  transform: translateY(-10%);
}
